body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    opacity: 0;  
    position: relative;
    background: transparent;
    resize: none;
    border: none;
    color: #000000;
    border-left: 1px solid black;
    margin-top: -70px;
  }

  textarea:focus {
      opacity: 1;
      transition: 0.5s;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  
  .description{
    white-space: pre-wrap;
    height: 100%;
  }
  
  .time-block{
    display: flex;
    padding: 5px;
    justify-content: end;
    border-radius: 15px;
    height: 100%;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    position: relative;
    margin-top: -4px;
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    margin-right: 2px;
    margin-left: auto;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
.buttonBlock {
    height: 80px;
    margin: 0;
    padding: 0;
}

  .saveBtn {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-top: 1px solid white;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    margin-top: -33px;
  }

  .saveBtn i {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .saveBtn:hover {
    font-size: 40px;
    transition: all .3s ease-in-out;
  }

  .activeBtn {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-top: 1px solid white;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    margin-top: -33px;
  }
  
  .activeBtn i {
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .activeBtn:hover {
    font-size: 40px;
    transition: all .3s ease-in-out;
  }

  .todo {
      color: black;
  }

  